h1
{
    text-align: center;
}

table
{
    border-collapse: collapse;
    text-align: center;
    overflow: hidden;
}

th,
td
{
    padding: 10px;
    position: relative;
}

th
{
    background-color: #8FBC8F;
}

tr:hover
{
    background-color: #FFFFE0;
}

tr:nth-child(odd) td::after,
td:hover::after
{
    content: "";    
    left: 0;
    position: absolute;
    width: 100%;
}

tr:nth-child(odd) td::after
{
    background-color: #F5F5F5;
    top: 0;
    height: 100%;
    z-index: -2;
}

td:hover::after
{
    background-color: #FFFFE0;
    top: -5000px;
    height: 10000px;
    z-index: -1;
}

.sendInfo input
{
    margin-bottom: 10px;
}

form:valid button[type="submit"]
{
    display: block;
}
